@import url(fonts.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    font-family: MB;
}

.container {
    max-width: 1344px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.header-nav-list {
    display: flex;
    gap: 25px;
}

body {
    background: #EFF5F5;
}

.header-nav-list__link {
    font-family: MR;
    color: #626262;
    transition: 300ms;
    padding: 9px 14.5px;

}

.header-nav-list__link:hover {
    background: #FFFFFF;
    box-shadow: 0px 13px 20px -15px rgba(0, 71, 184, 0.49);
    border-radius: 6px;
    padding: 9px 39px;
    color: #323232;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 698px;
    background: url(../img/header-bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 138px;
}

.header-content__title {
    font-size: 50px;
    color: #323232;
    max-width: 456px;
}

.header-content-btns {
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #EAEAEA;
    box-shadow: 0px 59px 30px -40px rgba(0, 133, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    padding: 27px 99px;
    display: flex;
    gap: 100px;
    transform: translateY(85px);
}

.valuta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.valuta-content {
    display: flex;
    flex-wrap: wrap;
    max-width: 642px;
    width: 100%;
    gap: 30px;
}

.main-title {
    width: 100%;
    font-size: 30px;
    line-height: 37px;
    color: #626262;
    margin-bottom: 32px;
}

.valuta-content-info {
    width: 306px;
    display: flex;
    align-items: center;
    color: #323232;
    font-size: 20px;
    background: #FFFFFF;
    box-shadow: 0px 30px 30px -15px rgba(0, 133, 255, 0.1);
    border-radius: 13px;
    padding: 15px;
}

.valuta-content-info img:first-child {
    margin-right: 30px;
}

.valuta-content-info img:last-child {
    margin-left: 17px;
    margin-right: 12px;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-content p:first-of-type {
    font-family: ML;
    font-size: 20px;
    margin-bottom: 30px;
    color: #626262;
    display: block;
}

.card-content p {
    color: #626262;
    margin-bottom: 20px;
    display: flex;
    gap: 30px;
}

.btn {
    color: #626262;
    padding: 9px 60px;
    transition: 300ms;
    width: 194px;
    height: 38px;
}

.btn:hover {
    background: #FFFFFF;
    box-shadow: 0px 13px 20px -15px rgba(0, 71, 184, 0.49);
    border-radius: 6px;
    color: #323232;
}

.card-content p:last-of-type {
    margin-bottom: 30px;
}

.credit-card {
    background: #BDC4FF;
    box-shadow: 0px 40px 30px -25px rgba(189, 196, 255, 0.5);
    border-radius: 10px;
    max-width: 642px;
    width: 100%;
    height: 219px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.credit-card:before {
    content: 'ХИТ';
    display: block;
    background: rgba(255, 255, 255, 0.4);
    border: 0.5px solid rgba(215, 215, 215, 0.3);
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(7.5px);
    border-radius: 4px;
    color: #000000;
    font-size: 12px;
    padding: 3px 17px;
    position: absolute;
    left: 23px;
    top: -10px;
}

.credit-card h3 {
    font-size: 20px;
    line-height: 24px;
    color: #626262;
    margin-bottom: 20px;
}

.credit-card p {
    max-width: 484px;
    font-family: MR;
    color: #323232;
    margin-bottom: 20px;
}

.credit .btn {
    background: #FFFFFF;
    box-shadow: 0px 13px 20px -15px rgba(0, 71, 184, 0.49);
    border-radius: 6px;
    font-family: MR;
    text-align: center;
}

.credit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.credit .main-title {
    text-align: center;
}

.credit-card:last-of-type {
    background: #FFD280;
}

.app .main-title{
    text-align: center;
    padding: 50px 0 30px;
}

.app-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 483px;
    justify-content: space-between;
    gap: 30px;
}

.app-content-card{
    max-width: 642px;
    width: 100%;
    color: #626262;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #97EAB9;
    box-shadow: 0px 40px 30px -25px rgba(151, 234, 185, 0.4);
    border-radius: 10px;
    font-size: 23px;
    padding-top: 25px;
}

.app-content-card h3{
    margin-bottom: 25px;
}

.app-content-card:nth-child(2){
    flex-direction: row;
    height: 216px;
    justify-content: space-evenly;
    background: #FFC1BD;
}

.app-content-card:nth-child(3){
    flex-direction: row-reverse;
    height: 216px;
    justify-content: space-evenly;
    background: #C1B7FF;
}

.app-btns{
    display: flex;
    justify-content: center;
    padding: 32px 0 100px;
    gap: 30px;
}

.app-btns a{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 360px;
    height: 100px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 13px 20px -15px rgba(0, 71, 184, 0.49);
    border-radius: 12px;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
    color: #626262;
    font-size: 20px;
    
}
.burger{
    display: none;
    visibility: hidden;
}
